.so-number{
    font-family: Lato,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 32px;
    font-weight: 600;
}
.so-info{
    font-family: Lato,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 600;
}
.so-info-value{
    border-left: 1px solid #999;
}
.small-input{
    width: 80px !important;
    height : 28px !important
}
.large-input{
    width: 200px !important;
    height : 28px !important
}
.align-right{
    text-align : right !important;
}
#detail-table-so td.fix-align{
    padding-top: 13px !important;
}
#customer-name{
    text-align: center;
    font-size: 18px;
    font-weight: 600;
}
#logo{
    text-align: right !important;
    margin-top: 15px;
    margin-bottom: 15px !important;
    float: right !important;
    border: 1px solid #fff;
}
#customer-title{
    height: 100px;
    float: right;
    margin-top: 45px !important;
}
.company-logo-po{
    width: 110px;
    float: left;
    vertical-align: middle;
}
.company-title-po{
    vertical-align: middle;
    width: 800px;
    margin-bottom: 25px;
    padding-top: 20px;
}
table.summary-table thead th,
table.sales-summary-table thead th,
table.payment-supplier-table thead th{
    background: #387975 !important;
    color: #fff !important;
    text-transform: uppercase;
}
table.summary-table tbody td:nth-child(1),
table.summary-table tbody td:nth-child(2),
table.sales-summary-table tbody td:nth-child(1),
table.sales-summary-table tbody td:nth-child(2),
table.sales-summary-table tbody td:nth-child(3),
table.sales-summary-table tbody td:nth-child(4),
table.payment-supplier-table tbody td:nth-child(1),
table.payment-supplier-table tbody td:nth-child(2),
table.payment-supplier-table tbody td:nth-child(3)
{
    background: #99968f !important;
    color: #fff !important;
    text-transform: uppercase;
}
table.summary-table tbody tr:last-child td,
table.sales-summary-table tbody tr:last-child td,
table.payment-supplier-table tbody tr:last-child td{
    background: #fff !important;
    color: #2c3e50 !important;
    text-transform: uppercase;
    border-top: 1px solid #999;
}
table.sales-summary-table td,
table.payment-supplier-table td{
    font-weight: bold;
    line-height: 18px !important;
}
.number-col{
    text-align: right !important;
}