.so-number{
    font-family: Lato,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 32px;
    font-weight: 600;
}
.so-info{
    font-family: Lato,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 600;
}
.so-info-value{
    border-left: 1px solid #999;
}
.small-input{
    width: 80px !important;
    height : 28px !important
}
.align-right{
    text-align : right !important;
}
#detail-table-so td.fix-align{
    padding-top: 13px !important;
}